<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
      alt=""
    />
  </div>
  <div class="big-card__title">
    <h2><a href="#">Saiu a nova versão do Angular</a></h2>
  </div>
  <div class="big-card__description">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
      maiores error consequuntur doloribus et enim aliquam illum quia earum,
      officiis recusandae iste animi molestias deleniti, impedit commodi
      dignissimos eius dolorem!
    </p>
  </div>
</div>
