.container__menu-title {
  color: white;
}


.container__menu-title > h1 {
  margin: 10px;
  font-size: 135px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}


.container__menu-title > hr {
  margin-top: 20px;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px){
  .container__menu-title > h1{
    font-size: 100px;
  }
}
