.container__small-card {
  width: 100%;
  margin-bottom: 15px;

  display: flex;
  justify-content: center;
}

.small-card__photo {
  margin-right: 20px;

  flex: 1 1 200px;

  min-width: 200px;
  max-height: 100px;

}

.small-card__photo  img {
  height: 100%;
  width: 100%;
}

.small-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 600px){
  .container__small-card {
    flex-direction: column;
    text-align: center;

    align-items: center;
  }

  .small-card__photo {
    width: 70%;
    max-height: fit-content;

    flex: 0;

    margin-right: 0;
    margin-bottom: 10px;
  }


}
