.container__content {
  margin: 20px 100px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content__cover > img{
  border: 5px solid rgb(144, 144, 144);

  min-width: 500px;
  height: 300px;

  margin-bottom: 50px
}

.content__description {
  margin-top: 15px;
  color: grey;

  text-align: center;
}

.container__content > a {
  position: relative;
  left: -305px;
  top: 30px

}
