.container__articles {
  display: flex;
  justify-content: center;
  gap: 15px;

  margin-top: 30px;
}

/* .articles__main {
  flex-basis: 400px;
  flex: 1 0;
}

.articles__other {
  flex-basis: 200px;
  flex: 0 0;
} */

app-small-card:not(:last-child)::after {
  content: "";
  display: block;

  width: 100%;
  height: 2px;
  margin-bottom: 15px;

  background-color: white;
}
