<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      id="1"
      cardTitle="Big card"
      cardDescription="Lorem Ipsum"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    ></app-big-card>
  </div>
  <div class="articles__other">
    <app-small-card
      id="2"
      cardTitle="Small card 1"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    ></app-small-card>
    <app-small-card
      id="3"
      cardTitle="Small card 2"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    ></app-small-card>
    <app-small-card
      id="4"
      cardTitle="Small card 3"
      photoCover="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
    ></app-small-card>
  </div>
</div>
