<div class="container__articles">
  <div class="articles__main">
    <app-big-card
      *ngFor="let bigCard of bigCards"
      [id]="bigCard.id"
      [cardTitle]="bigCard.cardTitle"
      [cardDescription]="bigCard.cardDescription"
      [photoCover]="bigCard.photoCover"
    ></app-big-card>
  </div>

  <div class="articles__other">
    <app-small-card
      *ngFor="let smallCard of smallCards"
      [id]="smallCard.id"
      [cardTitle]="smallCard.cardTitle"
      [photoCover]="smallCard.photoCover"
    ></app-small-card>
  </div>
</div>
